textarea {
    min-height: 400px;
}

.left-nav-container{
    width: 15%;
    float: left;
}

.nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* .nav li {    
    margin: 1px 0;
    border: 1px solid #999;
} */

.nav li {
    display: block;
    line-height: 3em;
    width: 100%;
    text-decoration: none;
}